<div class="d-flex flex-column mt-3 travel-tile p-2">
    <div class="mb-2">
        <img src="https://cdn.pixabay.com/photo/2015/03/11/12/31/buildings-668616_960_720.jpg">
    </div>
    <div class="container-fluid">
        <div class="d-flex flex-column">
            <div class="d-flex">
                <h5 style="font-weight: 900;" class="col-6">Destination</h5>
                <a class="d-flex flex-column col-2 text-center" href="#"><i class="bi bi-grid-3x3 font-color d-flex justify-content-center"></i><span class="accent-text">25</span></a>
                <a class="d-flex flex-column col-2 text-center" href="#"><i class="bi bi-list-check font-color d-flex justify-content-center"></i><span class="accent-text">7</span></a>
            </div>
        </div>
    </div>
</div>