<div class="offcanvas offcanvas-bottom" tabindex="-1" id="offcanvasAddContent" aria-labelledby="offcanvasWithBackdropLabel" style="border-radius: 20px 20px 0 0;height: auto;">
    <div class="offcanvas-body">
      <div class="d-flex flex-column text-center">
        <div data-bs-dismiss="offcanvas">
          <a><i class="bi bi-camera"></i> Add photo</a>
        </div>
        <div data-bs-dismiss="offcanvas">
            <a href="/add-travel"><i class="bi bi-geo-alt"></i> Add travel</a>
        </div>
        <div data-bs-dismiss="offcanvas">
            <a href="/settings"><i class="bi bi-list-check"></i> Add activity</a>
        </div>
      </div>
    </div>
</div>