<div class="offcanvas offcanvas-bottom" tabindex="-1" id="offcanvasWithBackdrop" aria-labelledby="offcanvasWithBackdropLabel" style="border-radius: 20px 20px 0 0;height: auto;">
    <div class="offcanvas-body">
      <div class="d-flex flex-column">
        <div>
          <a xhrloc="/settings"><i class="bi bi-gear-wide"></i> Settings</a>
        </div>
      </div>
    </div>
</div>