<div class="container-fluid d-flex flex-column" style="margin-top:55px;">
    <div class="input-group mb-3">
        <div class="input-group-text"><i class="bi bi-search"></i></div>
        <input name="searchBarInput" type="text" class="form-control" id="searchBarInput" onkeyup="searchTable()" placeholder="Search...">
    </div>
    <table id="settings-table" style="font-size: 19px;">
        <tr>
            <td><a class="d-inline-block w-100 py-2"><i class="bi bi-bell"></i> Notifications</a></td>
        </tr>
        <tr>
            <td><a class="d-inline-block w-100 py-2"><i class="bi bi-lock"></i> Confidentiality</a></td>
        </tr>
        <tr>
            <td><a class="d-inline-block w-100 py-2"><i class="bi bi-shield-lock"></i> Security</a></td>
        </tr>
        <tr>
            <td><a class="d-inline-block w-100 py-2"><i class="bi bi-person"></i> Account</a></td>
        </tr>
        <tr>
            <td><a class="d-inline-block w-100 py-2"><i class="bi bi-info-circle"></i> About</a></td>
        </tr>
        <tr>
            <td><a class="d-inline-block w-100 py-2"><i class="bi bi-question-circle"></i> Help</a></td>
        </tr>
        <tr>
            <td><a class="d-inline-block w-100 py-2"><i class="bi bi-ui-checks-grid"></i> Theme</a></td>
        </tr>
        <tr class="mt-4">
            <th>
                Connexion
            </th>
        </tr>
        <tr>
            <td><a class="d-inline-block w-100 py-2"><i class="bi bi-dash-circle"></i> Disconnect</a></td>
        </tr>
    </table>
</div>